

    body{
        background-color: rgb(178, 166, 166);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }

    form{
        display: flex;
        flex-direction: column;
    }
    /*For the phone number codes*/
    .phone-box{
    display: flex;
    gap: 10px;
}

.phone-box select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.phone-box input{
    flex: 1;
}
